$font-akzidenzgrotesk:'akzidenzgrotesk';
$bodyfont: 'ACaslonPro';
$fontking:'Loved by the King', cursive;
$font-caslonroman:'Caslon-Roman';
$black: #000000;
$white: #FFFFFF;
$lightwhite:rgba(255, 255, 255, 0.25);
$lightblack:rgba(0, 0, 0, 0.7);
$bodycolor:#313131;
$white-smoke:#f7f7f7;
$gray:#636363;
$darkgray:#d7d7d7;
$dark-blue:#174067;
$dots-color:#8d8d8d;
$darkblack: #010101;
$lightgreen:#c4d07c;
$lightblue:#9fd9db;
$darkblue:#184168;
$lightpurple:#9175a4;
$lightpink:#f58976;
$more-lightpink:rgba(245, 137, 118, 0.2);
$lightyellow:#f5e49a;
$darkyellow:#d9c671;
$graywhite:#fffffe;
$gold-border:#f5e49a;
$gold:#b49f43;
$nobel:#9a9a9a;
$goldlight:rgba(245, 228, 154, 0.5);