@font-face {
	font-family: 'akzidenzgrotesk';
	src: url('./fonts/AkzidenzGroteskBQ-LigCnd.eot');
	src: url('./fonts/AkzidenzGroteskBQ-LigCnd.eot?#iefix') format('embedded-opentype'),
		url('./fonts/AkzidenzGroteskBQ-LigCnd.woff') format('woff'),
		url('./fonts/AkzidenzGroteskBQ-LigCnd.ttf') format('truetype'),
		url('./fonts/AkzidenzGroteskBQ-LigCnd.svg#AkzidenzGroteskBQ-LigCnd') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'akzidenzgrotesk';
	src: url('./fonts/AkzidenzGroteskBQ-LigCndIt.eot');
	src: url('./fonts/AkzidenzGroteskBQ-LigCndIt.eot?#iefix') format('embedded-opentype'),
		url('./fonts/AkzidenzGroteskBQ-LigCndIt.woff') format('woff'),
		url('./fonts/AkzidenzGroteskBQ-LigCndIt.ttf') format('truetype'),
		url('./fonts/AkzidenzGroteskBQ-LigCndIt.svg#AkzidenzGroteskBQ-LigCndIt') format('svg');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'akzidenzgrotesk';
	src: url('./fonts/AkzidenzGroteskBE-Cn.eot');
	src: url('./fonts/AkzidenzGroteskBE-Cn.eot?#iefix') format('embedded-opentype'),
		url('./fonts/AkzidenzGroteskBE-Cn.woff') format('woff'),
		url('./fonts/AkzidenzGroteskBE-Cn.ttf') format('truetype'),
		url('./fonts/AkzidenzGroteskBE-Cn.svg#AkzidenzGroteskBE-Cn') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'akzidenzgrotesk';
	src: url('./fonts/AkzidenzGroteskBQ-MdCnd.eot');
	src: url('./fonts/AkzidenzGroteskBQ-MdCnd.eot?#iefix') format('embedded-opentype'),
		url('./fonts/AkzidenzGroteskBQ-MdCnd.woff') format('woff'),
		url('./fonts/AkzidenzGroteskBQ-MdCnd.ttf') format('truetype'),
		url('./fonts/AkzidenzGroteskBQ-MdCnd.svg#AkzidenzGroteskBQ-MdCnd') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'akzidenzgrotesk';
	src: url('./fonts/AkzidenzGroteskBE-BoldCn.eot');
	src: url('./fonts/AkzidenzGroteskBE-BoldCn.eot?#iefix') format('embedded-opentype'),
		url('./fonts/AkzidenzGroteskBE-BoldCn.woff') format('woff'),
		url('./fonts/AkzidenzGroteskBE-BoldCn.ttf') format('truetype'),
		url('./fonts/AkzidenzGroteskBE-BoldCn.svg#AkzidenzGroteskBE-BoldCn') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'ACaslonPro';
	src: url('./fonts/ACaslonPro-Regular.eot');
	src: url('./fonts/ACaslonPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('./fonts/ACaslonPro-Regular.woff') format('woff'),
		url('./fonts/ACaslonPro-Regular.ttf') format('truetype'),
		url('./fonts/ACaslonPro-Regular.svg#ACaslonPro-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'ACaslonPro';
	src: url('./fonts/ACaslonPro-Italic.eot');
	src: url('./fonts/ACaslonPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/ACaslonPro-Italic.woff') format('woff'),
		url('./fonts/ACaslonPro-Italic.ttf') format('truetype'),
		url('./fonts/ACaslonPro-Italic.svg#ACaslonPro-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'ACaslonPro';
	src: url('./fonts/ACaslonPro-Semibold.eot');
	src: url('./fonts/ACaslonPro-Semibold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/ACaslonPro-Semibold.woff') format('woff'),
		url('./fonts/ACaslonPro-Semibold.ttf') format('truetype'),
		url('./fonts/ACaslonPro-Semibold.svg#ACaslonPro-Italic') format('svg');
	font-weight: 600;
	font-style: normal;
}


@font-face {
	font-family: 'ACaslonPro';
	src: url('./fonts/ACaslonPro-Bold.eot');
	src: url('./fonts/ACaslonPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/ACaslonPro-Bold.woff') format('woff'),
		url('./fonts/ACaslonPro-Bold.ttf') format('truetype'),
		url('./fonts/ACaslonPro-Bold.svg#ACaslonPro-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Caslon-Roman';
	src: url('./fonts/Caslon540LTStd-Roman.eot');
	src: url('./fonts/Caslon540LTStd-Roman.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Caslon540LTStd-Roman.woff') format('woff'),
		url('./fonts/Caslon540LTStd-Roman.ttf') format('truetype'),
		url('./fonts/Caslon540LTStd-Roman.svg#ACaslonPro-Bold') format('svg');
	font-weight: 400;
	font-style: normal;
}


